main {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, from(#0179c9), to(black));
  background: linear-gradient(to bottom, #0179c9, black);
  background-size: cover;
  position: relative;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (auto)[10];
      grid-template-rows: repeat(10, auto);
      grid-template-areas: "mapContent mapContent" "aboutCountry aboutCountry" "coronavirus coronavirus" "military military"  "goldReserves goldReserves";
}

main .map-content {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.774)), to(black)), url("../../Images/bg3.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.774), black), url("../../Images/bg3.jpg");
  padding: 10px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-row: 1/3;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mapContent;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  main .map-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

main .map-content .btn {
  display: block;
  padding: 20px;
  margin: 0;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.747);
  color: white;
}

main .map-content .btn:hover {
  background: rgba(180, 180, 180, 0.466);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

main .map-content .map {
  text-align: center;
  position: relative;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  overflow: hidden;
}

main .map-content .map button {
  padding: 20px;
  margin: 0;
  border: none;
  background: rgba(0, 0, 0, 0.747);
  color: white;
  z-index: 100;
}

main .map-content .map button:hover {
  background: rgba(180, 180, 180, 0.466);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

main .map-content .map #show-map {
  position: absolute;
  left: 0%;
}

main .map-content .map svg {
  left: 0%;
  max-width: 100%;
  height: 800px;
  z-index: 600;
}

@media (max-width: 992px) {
  main .map-content .map svg {
    height: 600px !important;
  }
}

main .map-content .map svg .path:hover {
  fill: aliceblue;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

main .map-content .map svg a {
  fill: aliceblue;
  stroke: #0366c2;
  stroke-width: 0.1px;
}

main .map-content .map svg a:hover {
  fill: #011644;
  cursor: pointer;
}

main .map-content .map svg a:active {
  fill: #005266;
  cursor: pointer;
}

@media (max-width: 992px) {
  main .map-content .map {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

main .map-content .stats {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .map-content .stats .stats-el {
  width: 100%;
}

main .map-content .stats .stats-el:first-child {
  width: auto;
  height: auto;
  padding: 20px;
  margin: 0;
  text-align: center;
}

main .map-content .stats .stats-el:first-child img {
  padding: 0;
  margin: 5px;
}

main .map-content .stats .stats-el:first-child img:first-child {
  max-width: 13rem;
  height: 7rem;
}

@media (max-width: 576px) {
  main .map-content .stats .stats-el:first-child img:first-child {
    max-width: 10rem;
    height: 6rem;
  }
}

@media (max-width: 300px) {
  main .map-content .stats .stats-el:first-child img:first-child {
    max-width: 7rem;
    height: 4rem;
  }
}

main .map-content .stats .stats-el:first-child img:last-child {
  max-width: 9rem;
  height: 10rem;
}

@media (max-width: 576px) {
  main .map-content .stats .stats-el:first-child img:last-child {
    max-width: 5rem;
    height: 6rem;
  }
}

@media (max-width: 300px) {
  main .map-content .stats .stats-el:first-child img:last-child {
    max-width: 3rem;
    height: 4rem;
  }
}

main .map-content .stats .stats-el:last-child {
  position: relative;
  height: auto;
}

main .map-content .stats .stats-el:last-child #country-name {
  padding: 10px;
  margin: 0 !important;
  text-align: center;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@media (max-width: 450px) {
  main .map-content .stats .stats-el:last-child #country-name {
    font-size: 1rem;
  }
}

main .map-content .stats .stats-el:last-child table {
  width: 100%;
  height: auto;
}

main .map-content .stats .stats-el:last-child table td {
  color: white;
  padding: 1rem;
  margin: 10px auto;
  text-align: left;
}

main .map-content .stats .stats-el:last-child table td:first-child {
  text-align: right;
  background: rgba(0, 0, 0, 0.329);
}

main .map-content .stats .stats-el:last-child table td:last-child {
  background: rgba(85, 85, 85, 0);
}

@media (max-width: 1300px) {
  main .map-content .stats .stats-el:last-child table td {
    font-size: 0.8rem;
    padding: 0.8rem;
    margin: 5px auto;
  }
}

@media (max-width: 250px) {
  main .map-content .stats .stats-el:last-child table td {
    display: block;
  }
}

@media (max-width: 250px) {
  main .map-content .stats .stats-el:last-child table td {
    font-size: 0.5rem;
    padding: 0.1rem;
    margin: 2px auto;
  }
}

@media (max-width: 992px) {
  main .map-content .stats {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

main .about-country {
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: aboutCountry;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  min-height: 550px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: rgba(0, 0, 0, 0.589);
}

@media (max-width: 1550px) {
  main .about-country {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

main .about-country .country-element:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.151))), url("../../Images/bg6.jpg");
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.151)), url("../../Images/bg6.jpg");
  background-size: cover;
  width: 30%;
  height: 100%;
}

@media (max-width: 1550px) {
  main .about-country .country-element:first-child {
    padding: 5px;
    width: 100%;
    height: auto;
  }
}

main .about-country .country-element:first-child img {
  position: relative;
  max-width: 15rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
}

@media (max-width: 576px) {
  main .about-country .country-element:first-child img {
    max-width: 9rem;
  }
}

@media (max-width: 350px) {
  main .about-country .country-element:first-child img {
    max-width: 8rem;
  }
}

@media (max-width: 250px) {
  main .about-country .country-element:first-child img {
    max-width: 9rem;
  }
}

main .about-country .country-element:last-child {
  position: relative;
  background: rgba(0, 0, 0, 0);
  width: 70%;
  height: 100% !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1550px) {
  main .about-country .country-element:last-child {
    width: 100%;
    height: auto;
  }
}

main .about-country .country-element:last-child .country-title {
  width: auto;
  height: auto;
  padding: 5px;
  margin: 0;
  text-align: center;
  display: none;
}

main .about-country .country-element:last-child .country-title p {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}

@media (max-width: 1550px) {
  main .about-country .country-element:last-child .country-title p {
    text-align: center;
  }
}

@media (max-width: 567px) {
  main .about-country .country-element:last-child .country-title p {
    font-size: 1.5rem;
  }
}

@media (max-width: 350px) {
  main .about-country .country-element:last-child .country-title p {
    font-size: 1rem;
  }
}

main .about-country .country-element:last-child .country-content {
  position: relative;
  width: 100%;
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ececec;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about-country .country-element:last-child .country-content .content-part {
  width: 220px;
  height: 140px;
  padding: 0px;
  margin: 5px;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #0c85a3;
}

@media (max-width: 1200px) {
  main .about-country .country-element:last-child .country-content .content-part {
    max-width: 210px;
    height: auto;
  }
}

@media (max-width: 576px) {
  main .about-country .country-element:last-child .country-content .content-part {
    width: 30%;
  }
}

@media (max-width: 450px) {
  main .about-country .country-element:last-child .country-content .content-part {
    width: 40%;
  }
}

@media (max-width: 450px) {
  main .about-country .country-element:last-child .country-content .content-part {
    width: 45%;
    border: none;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 250px) {
  main .about-country .country-element:last-child .country-content .content-part {
    width: 90%;
    left: 0% !important;
  }
}

main .about-country .country-element:last-child .country-content .content-part span {
  width: 100%;
  height: 50%;
  padding: 0;
  margin: 0;
  text-align: left;
}

@media (max-width: 450px) {
  main .about-country .country-element:last-child .country-content .content-part span {
    text-align: center;
  }
}

main .about-country .country-element:last-child .country-content .content-part span:first-child {
  color: #20c5c5;
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  main .about-country .country-element:last-child .country-content .content-part span:first-child {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  main .about-country .country-element:last-child .country-content .content-part span:first-child {
    font-size: 0.7rem;
    height: auto;
  }
}

main .about-country .country-element:last-child .country-content .content-part span:last-child {
  color: #34abe7;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  main .about-country .country-element:last-child .country-content .content-part span:last-child {
    font-size: 0.6rem;
  }
}

@media (max-width: 576px) {
  main .about-country .country-element:last-child .country-content .content-part span:last-child {
    font-size: 0.5rem;
    height: auto;
  }
}

main .about-country .country-element:last-child .country-content .content-part span p {
  position: relative;
  margin-left: 10px;
}

@media (max-width: 768px) {
  main .about-country .country-element:last-child .country-content .content-part span p {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  main .about-country .country-element:last-child .country-content .content-part span p {
    font-size: 0.8rem;
    height: auto;
  }
}

main .coronavirus {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: coronavirus;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
  background-size: cover;
  width: 80%;
  height: 600px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1400px) {
  main .coronavirus {
    width: 100% !important;
    margin-left: 0%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media (max-width: 992px) {
  main .coronavirus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

main .coronavirus .coronavirus-el:first-child {
  width: 30%;
  height: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (max-width: 992px) {
  main .coronavirus .coronavirus-el:first-child {
    top: 0%;
    width: 100%;
    height: auto;
  }
}

main .coronavirus .coronavirus-el:first-child p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 600;
  font-size: 1.6rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1100px) {
  main .coronavirus .coronavirus-el:first-child p {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  main .coronavirus .coronavirus-el:first-child p {
    top: 0%;
  }
}

@media (max-width: 450px) {
  main .coronavirus .coronavirus-el:first-child p {
    font-size: 1rem;
  }
}

@media (max-width: 250px) {
  main .coronavirus .coronavirus-el:first-child p {
    font-size: 0.8rem;
  }
}

main .coronavirus .coronavirus-el:first-child img {
  top: 30%;
  left: 50%;
  max-width: 10rem;
  height: auto;
}

@media (max-width: 768px) {
  main .coronavirus .coronavirus-el:first-child img {
    max-width: 8rem;
  }
}

@media (max-width: 450px) {
  main .coronavirus .coronavirus-el:first-child img {
    max-width: 6rem;
  }
}

main .coronavirus .coronavirus-el:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  height: 100%;
  padding: 10px;
  margin: 0;
  justify-content: center;
}

@media (max-width: 992px) {
  main .coronavirus .coronavirus-el:last-child {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  main .coronavirus .coronavirus-el:last-child {
    display: block;
  }
}

@media (max-width: 768px) {
  main .coronavirus .coronavirus-el:last-child {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    overflow-x: scroll !important;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

main .coronavirus .coronavirus-el:last-child .covid {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 380px !important;
  height: 90%;
  padding: 0;
  margin: 5px;
}

@media (max-width: 992px) {
  main .coronavirus .coronavirus-el:last-child .covid {
    display: inline-block;
    width: 300px !important;
    height: 350px;
  }
}

main .coronavirus .coronavirus-el:last-child .general, main .coronavirus .coronavirus-el:last-child .recovery, main .coronavirus .coronavirus-el:last-child .deaths {
  text-align: center;
  background-position: left;
  text-transform: uppercase;
  background-position: -50%;
}

main .coronavirus .coronavirus-el:last-child .general i, main .coronavirus .coronavirus-el:last-child .recovery i, main .coronavirus .coronavirus-el:last-child .deaths i {
  color: #e2e2e2;
  font-size: 2.5rem;
  position: relative;
  top: 10%;
}

main .coronavirus .coronavirus-el:last-child .general p, main .coronavirus .coronavirus-el:last-child .recovery p, main .coronavirus .coronavirus-el:last-child .deaths p {
  position: relative;
  top: 20%;
}

main .coronavirus .coronavirus-el:last-child .general p:nth-child(2), main .coronavirus .coronavirus-el:last-child .recovery p:nth-child(2), main .coronavirus .coronavirus-el:last-child .deaths p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 400;
  color: #cfcfcf;
}

@media (max-width: 996px) {
  main .coronavirus .coronavirus-el:last-child .general p:nth-child(2), main .coronavirus .coronavirus-el:last-child .recovery p:nth-child(2), main .coronavirus .coronavirus-el:last-child .deaths p:nth-child(2) {
    font-size: 1rem;
  }
}

main .coronavirus .coronavirus-el:last-child .general p:nth-child(3), main .coronavirus .coronavirus-el:last-child .recovery p:nth-child(3), main .coronavirus .coronavirus-el:last-child .deaths p:nth-child(3) {
  font-size: 1.2rem;
  font-weight: 500;
  color: #8d8d8d;
}

@media (max-width: 996px) {
  main .coronavirus .coronavirus-el:last-child .general p:nth-child(3), main .coronavirus .coronavirus-el:last-child .recovery p:nth-child(3), main .coronavirus .coronavirus-el:last-child .deaths p:nth-child(3) {
    font-size: 1rem;
  }
}

main .coronavirus .coronavirus-el:last-child .general p:last-child, main .coronavirus .coronavirus-el:last-child .recovery p:last-child, main .coronavirus .coronavirus-el:last-child .deaths p:last-child {
  font-size: 2.5rem;
  font-weight: 400;
  color: #b1b1b1;
}

@media (max-width: 996px) {
  main .coronavirus .coronavirus-el:last-child .general p:last-child, main .coronavirus .coronavirus-el:last-child .recovery p:last-child, main .coronavirus .coronavirus-el:last-child .deaths p:last-child {
    font-size: 1.5rem;
  }
}

main .coronavirus .coronavirus-el:last-child .recovery {
  text-align: center;
  background-position: center;
}

main .coronavirus .coronavirus-el:last-child .recovery i {
  color: #0098a3;
}

main .coronavirus .coronavirus-el:last-child .recovery p:nth-child(2) {
  color: #01aa26;
}

main .coronavirus .coronavirus-el:last-child .recovery p:nth-child(3) {
  color: #8d8d8d;
}

main .coronavirus .coronavirus-el:last-child .recovery p:last-child {
  color: #01aa26;
}

main .coronavirus .coronavirus-el:last-child .deaths {
  text-align: center;
}

main .coronavirus .coronavirus-el:last-child .deaths i {
  color: #007e4e;
}

main .coronavirus .coronavirus-el:last-child .deaths p:nth-child(2) {
  color: #00f5fd;
}

main .coronavirus .coronavirus-el:last-child .deaths p:nth-child(3) {
  color: #8d8d8d;
}

main .coronavirus .coronavirus-el:last-child .deaths p:last-child {
  color: #00f5fd;
}

main .military {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0))), url("../../Images/tank.png") fixed;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0)), url("../../Images/tank.png") fixed;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  margin: 0;
  height: 650px;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: military;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7/9;
  position: relative;
  border-radius: 30% 0%;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

@media (max-width: 768px) {
  main .military {
    height: auto;
  }
}

main .military .military-title {
  width: 100%;
  height: auto;
}

main .military .military-title p {
  position: relative;
  color: white;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 5px;
}

@media (max-width: 768px) {
  main .military .military-title p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  main .military .military-title p {
    font-size: 1rem;
  }
}

main .military .military-content {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

@media (max-width: 768px) {
  main .military .military-content {
    height: auto;
    gap: 0;
  }
}

@media (max-width: 768px) {
  main .military .military-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .military .military-content .military-el {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

main .military .military-content .military-el:first-child table {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: auto;
}

main .military .military-content .military-el:first-child table tr {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10%;
}

main .military .military-content .military-el:first-child table tr td {
  padding: 0 !important;
  margin: 15px 0 !important;
  width: 100%;
  height: auto;
  text-align: center;
}

main .military .military-content .military-el:first-child table tr td:first-child {
  font-size: 2rem;
  color: white;
}

@media (max-width: 576px) {
  main .military .military-content .military-el:first-child table tr td:first-child {
    font-size: 1rem;
  }
}

main .military .military-content .military-el:first-child table tr td:nth-child(2) {
  font-size: 2rem;
  color: gold;
}

@media (max-width: 576px) {
  main .military .military-content .military-el:first-child table tr td:nth-child(2) {
    font-size: 1rem;
  }
}

main .military .military-content .military-el:first-child table tr td:last-child {
  font-size: 2rem;
  color: white;
}

@media (max-width: 576px) {
  main .military .military-content .military-el:first-child table tr td:last-child {
    font-size: 1rem;
  }
}

main .military .military-content .military-el:last-child table {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: auto;
}

main .military .military-content .military-el:last-child table tr {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
}

main .military .military-content .military-el:last-child table tr td {
  padding: 0 !important;
  margin: 5px 0 !important;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 2rem;
}

main .military .military-content .military-el:last-child table tr td:nth-child(odd) {
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 576px) {
  main .military .military-content .military-el:last-child table tr td:nth-child(odd) {
    font-size: 1rem;
  }
}

main .military .military-content .military-el:last-child table tr td:nth-child(even) {
  font-size: 1.5rem;
  color: gold;
}

@media (max-width: 576px) {
  main .military .military-content .military-el:last-child table tr td:nth-child(even) {
    font-size: 1rem;
  }
}

@media (max-width: 1400px) {
  main .military .military-content .military-el {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  main .military .military-content .military-el {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

main .gold-reserves {
  max-width: 100%;
  height: auto;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: goldReserves;
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9/11;
  overflow: hidden;
  background: url("../../Images/gold4.png");
  background-size: cover;
  padding: 10px;
}

main .gold-reserves .gold-title {
  width: 100%;
  height: 100px;
}

main .gold-reserves .gold-title p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: #9b8400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  main .gold-reserves .gold-title p {
    font-size: 0.9rem;
  }
}

main .gold-reserves .gold-content {
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  overflow-y: hidden !important;
}

@media (max-width: 768px) {
  main .gold-reserves .gold-content {
    height: 350px;
    gap: 5px;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

@media (max-width: 576px) {
  main .gold-reserves .gold-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

main .gold-reserves .gold-content .gold-el {
  padding: 10px;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.247)), to(rgba(0, 0, 255, 0.507)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.247), rgba(0, 0, 255, 0.507));
  position: relative;
  width: 450px !important;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .gold-reserves .gold-content .gold-el .el-title {
  margin-top: 0% !important;
  width: 100%;
  height: 10%;
}

main .gold-reserves .gold-content .gold-el .el-title p {
  padding: 10px;
  margin: 0 !important;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #dadada;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

main .gold-reserves .gold-content .gold-el .el-image {
  position: relative;
  width: 100%;
  height: 40%;
  text-align: center;
}

main .gold-reserves .gold-content .gold-el .el-image img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 10rem;
  height: auto;
}

@media (max-width: 768px) {
  main .gold-reserves .gold-content .gold-el .el-image img {
    max-width: 5rem;
  }
}

main .gold-reserves .gold-content .gold-el p {
  width: 95%;
  height: auto;
  padding: 0;
  margin: 5px 0 !important;
  text-align: center;
  color: #eeeeee;
  letter-spacing: 2px;
  font-size: 1.1rem;
  padding: 1px;
  text-transform: uppercase;
}

main .gold-reserves .gold-content .gold-el p:nth-child(odd) {
  color: white;
  font-weight: 600;
}

@media (max-width: 992px) {
  main .gold-reserves .gold-content .gold-el p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  main .gold-reserves .gold-content .gold-el p {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=Main.css.map */