@import '../Variables/Variables.scss';

html body{
    box-sizing: border-box;
    @include paddingMargin(0 !important,0 !important);
    background: rgb(255, 255, 255);
    scroll-behavior: smooth;
    font-family: 'Cairo', sans-serif;
}